<ion-header>
  <ion-toolbar color="secondary">
    <ion-title class="animate__animated animate__rubberBand">راهنمای دانلود</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="animate__animated animate__fadeIn">
        <ion-card>
          <div class="ion-text-center">
            <img src="../../assets/img/downbrown.png"/>
          </div>
          <ion-card-header class="ion-text-center">
            <ion-card-subtitle> این اپلیکیشن نسخه آزمایشی بوده و دارای محدودیت می باشد جهت استفاده نامحدود لطفا نسخه کامل را خریداری فرمایید </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <h2>نحوه دانلود:</h2>
            <p>1-عنوان کتاب مد نظر را در قسمت جستجو وارد کنید توجه شود که حداقل 6 کارکتر برای شروع فرآیند جستجو نیاز می باشد</p>
            <p>2- با شروع فرآیند جستجو صفحه لیست کتاب های یافته شده با توجه به تعداد مورد درخواست نمایش داده می شود</p>
            <p>3- در نسخه آزمایشی تنها اولین کتاب لیست قابل دانلود می باشد</p>
            <p> 4- با کلیک بر روی دانلود کتاب، صفحه سفیدی باز می شود و فرایند دانلود بصورت خودکار آغاز شده و کتاب در قسمت دانلودهای گوشی قرار می گیرد</p>
            <p>5- مدتی برای دانلود منتظر بمانید و سپس صفحه سفید را ببندید</p>
            <p>6- این فرآیند بسته به حجم کتاب زمانبر خواهد بود</p>
            <p>7- به قسمت دانلود های گوشی خود مراجعه کنید و کتاب را مطالعه نمایید</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
