<ion-header>
  <ion-toolbar color="secondary">
    <ion-title class="animate__animated animate__rubberBand">راهنمای دانلود</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="animate__animated animate__fadeIn">
        <ion-card>
          <div class="ion-text-center">
            <img src="../../assets/img/downbrown.png"/>
          </div>
          <ion-card-header class="ion-text-center">
            <ion-card-subtitle> این اپلیکیشن از بانک‌های اطلاعاتی کتابخانه جنسیس استفاده می‌کند (این نسخه آزمایشی است و تنها دانلود اولین نتیجه امکان‌پذیر است) </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <h2>نحوه دانلود:</h2>
            <p>1-عنوان کتاب مد نظر را در قسمت جستجو وارد کنید توجه شود که حداقل 6 کارکتر برای شروع فرآیند جستجو نیاز می باشد</p>
            <p>2- با شروع فرآیند جستجو صفحه لیست کتاب های یافته شده با توجه به تعداد مورد درخواست نمایش داده می شود</p>
            <p> 3- با کلیک بر روی دانلود کتاب،صفحه مرورگر باز شده و فرآیند دانلود آغاز می‌شود</p>
            <p>4- مدتی برای دانلود منتظر بمانید و سپس گزینه ضربدر را بزنید</p>
            <p>5- این فرآیند بسته به حجم کتاب زمانبر خواهد بود</p>
            <p>6- به قسمت دانلود های گوشی خود مراجعه کنید و کتاب را مطالعه نمایید</p>
            <hr>
            <h2>مشخصات نسخه کامل</h2>
            <p>1-امکان افزایش نتایج جستجو تا ۵۰ نتیجه</p>
            <p>2- دسترسی جهت دانلود کلیه کتاب‌های یافت شده</p>

          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header class="ion-text-center">
            <ion-card-subtitle>آدرس سایت‌های مرجع: </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <p>http://www.ketabyab.mohammad-malekzad.ir</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
