<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="discover">
        <ion-icon name="search" color="primary"></ion-icon>
        <ion-label color="primary">دانلود کتاب</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="user">
        <ion-icon name="document" color="primary"></ion-icon>
        <ion-label color="primary">راهنمای دانلود</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about">
        <ion-icon name="information-circle" color="primary"></ion-icon>
        <ion-label color="primary">توسعه دهنده</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
