<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="discover">
        <ion-icon name="search" color="secondary"></ion-icon>
        <ion-label color="secondary">جستجو</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="user">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>کاربر</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>توسعه دهنده</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
