<ion-header>
  <ion-toolbar color="secondary">
    <ion-title class="animate__animated animate__rubberBand">در مورد توسعه دهنده</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="animate__animated animate__fadeIn">
        <ion-card>
          <div class="ion-text-center">
            <img src="../../assets/img/book4.png" class="imageMe"/>
          </div>
          <ion-card-header class="ion-text-center">
            <ion-card-subtitle>توسعه دهنده تمام پشته جاوا اسکریپت</ion-card-subtitle>
            <ion-card-title>محمد ملک زاد</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <h3>اطلاعات تماس</h3>
      </ion-col>
    </ion-row>
    <ion-row dir="ltr">
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-item>
              <ion-icon style="font-size: large" slot="start" name="mail"></ion-icon>
              <a href="mailto: mohammad.malekzad@yahoo.com" style="font-size: small; font-family: 'Times New Roman'">mohammad.malekzad@yahoo.com</a>
            </ion-item>
            <ion-item>
              <ion-icon style="font-size: large" slot="start" name="globe-outline"></ion-icon>
              <p style="font-size: small;" (click)="openMalekzadSite()">مراجعه به سایت دانلود کتاب انگلیسی</p>
            </ion-item>
            <ion-item>
              <ion-icon style="font-size: large" slot="start" name="logo-instagram"></ion-icon>
              <p style="font-size: small;" (click)="openMalekzadInsta()">مراجعه به صفحه اینستاگرام</p>
            </ion-item>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
